body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1091px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:537px;
}
#u3199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:537px;
  display:flex;
}
#u3199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:537px;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:1091px;
  height:537px;
  display:flex;
}
#u3200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:97px;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:967px;
  width:192px;
  height:97px;
  display:flex;
}
#u3201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:930px;
  width:73px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u3203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3204_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:925px;
  width:40px;
  height:22px;
  display:flex;
  font-size:8px;
}
#u3204 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3204_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u3204.disabled {
}
.u3204_input_option {
  font-size:8px;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#D7D7D7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3206_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#D7D7D7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#D7D7D7;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:926px;
  width:315px;
  height:21px;
  display:flex;
  font-size:8px;
  color:#D7D7D7;
}
#u3206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3206_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:21px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#D7D7D7;
}
#u3206.disabled {
}
#u3207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:925px;
  width:72px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u3207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
